@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-RegularIt.eot");
    src: local("../fonts/ProximaNova-RegularIt"),
      local("../fonts/ProximaNova-RegularIt"),
      url("../fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"),
      url("../fonts/ProximaNova-RegularIt.woff") format("woff"),
      url("../fonts/ProximaNova-RegularIt.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-SemiboldIt.eot");
    src: local("../fonts/ProximaNova-SemiboldIt"),
      local("../fonts/ProximaNova-SemiboldIt"),
      url("../fonts/ProximaNova-SemiboldIt.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/ProximaNova-SemiboldIt.woff") format("woff"),
      url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }