* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form .wrapper .header .subtitle, .form .wrapper .inputs input, .form .wrapper .links .link, .form .wrapper .policy label {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 141.4%;
}

.form .wrapper .header .title, .form .wrapper .links .main_link {
  font-style: normal;
  font-weight: normal;
}

@media (max-width: 895px) {
  .products .products_scroll .product_base {
    border: 7px solid #292E48;
  }
  .products {
    margin-top: 30px;
  }
  .products .products_titles .products_title {
    font-size: 35px;
  }
  .products .products_scroll .product_text .product_title {
    font-size: 25px;
  }
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-RegularIt.eot");
  src: local("../fonts/ProximaNova-RegularIt"), local("../fonts/ProximaNova-RegularIt"), url("../fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-SemiboldIt.eot");
  src: local("../fonts/ProximaNova-SemiboldIt"), local("../fonts/ProximaNova-SemiboldIt"), url("../fonts/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.background_image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background_image.reg {
  height: 120vh;
}

.background_image .image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form.reg {
  height: 120vh;
}

.form.reg .wrapper .inputs .wrapper_inputs input {
  width: 45%;
}

.form .wrapper {
  margin-top: 35px;
  padding: 43px 53px;
  width: 544px;
  background-color: #fff;
}

.form .wrapper .header {
  margin-bottom: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #DADADA;
}

.form .wrapper .header .title {
  max-width: 438px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
}

.form .wrapper .header .subtitle {
  max-width: 438px;
  font-size: 15px;
  line-height: 141.4%;
}

.form .wrapper .inputs {
  width: 100%;
  margin-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .wrapper .inputs .wrapper_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .wrapper .inputs input {
  margin-top: 43px;
  padding-bottom: 7px;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #6D6D6D;
  color: black;
}

.form .wrapper .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .wrapper .links .main_link {
  text-decoration: none;
  font-size: 28px;
  line-height: 32px;
  color: black;
}

.form .wrapper .links .main_link::after {
  content: "";
  display: block;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.form .wrapper .links .link {
  margin-left: 18px;
  font-size: 13px;
  line-height: 141.4%;
  color: black;
  text-decoration: none;
}

.form .wrapper .links .link:first-child {
  margin-left: 0;
}

.form .wrapper .policy {
  margin-top: -13px;
  margin-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .wrapper .policy input {
  margin-top: 5px;
  margin-right: 18px;
}

.form .wrapper .policy label {
  font-size: 13px;
  line-height: 141.4%;
}

@media (max-width: 435px) {
  .form .wrapper .links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form .wrapper .links .some_links {
    margin-top: 30px;
  }
}

@media (max-width: 390px) {
  .form .wrapper {
    padding: 43px 20px;
  }
}

@media (max-width: 652px) {
  .background_image {
    display: none;
  }
  .form .wrapper {
    width: 100%;
  }
  .form a img {
    display: none;
  }
  .form.reg .wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }
}
/*# sourceMappingURL=authoriz_reg_page.css.map */